spring:
  application:
    name: employeeservice
  datasource:
    url: jdbc:h2:mem:employeedb
    username: sa
    password:
    driverClassName: org.h2.Driver # http://localhost:9002/h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

server:
  port: 9002

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka